<%= render "shared/modal" do %>
  <div class="bg-white rounded-xl shadow-lg p-8 max-w-4xl animate-scale-in ">
    <div class="text-center text-xl font-semibold mb-10 w-full"> Orden del día <%= @daily_agenda.date %></div>
    <% if @daily_agenda.expedients.empty? %>
      <div>
        <td class="p-6 font-medium col-span-12">No hay expedientes agregados aún</td>
      </div>
    <% else %>
      <%= render "table", expedients: @daily_agenda.expedients, font_size:'text-sm' %>
    <% end %>
  
    <div class="flex justify-end m-2">
      <%= close_modal_button %>
    </div>
  </div>
<% end %>